@import '../../styles/var'

.item
    display: inline-block
    //word-break: break-all
    white-space: pre-wrap
    text-align: center
.id
    width: 60px
.date
    //width: 90px
    width: 120px
.name
    width: 200px
.phone
    width: 110px
.email
    width: 200px
.city
    width: 150px
.program
    width: 100px
.sum
    width: 70px
.title
    font-weight: 600
.button
    width: 100px
    font-size: 14px